/* @define Article */

@import "../base/global";

.Article {
  position: relative;
  font-size: 2rem;
}

.Article-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Article-large {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.2rem;
}