/* @define Poster */

@import "../base/global";
@import "../display";

.Poster {
  --Poster-space: 1.8rem;
  flex: 0 0 100%;
  flex-direction: column;
  display: flex;
  position: relative;
  z-index: 2;
  background: #000;
  color: #fff;
  overflow: hidden;
}

.Poster-body {
  padding: var(--Poster-space);
  position: relative;
  z-index: 1;
}

.Poster--light {
  color: #000;
}

.Poster-bg {
  width: 100%;
  height: auto;
  display: none !important;
}

.Poster-label {
  display: none;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1.2rem;
}

.Poster-text {
  max-width: 28rem;
  opacity: 0.85;
  margin-top: 0;
}

.Poster-link {
  display: inline-block;
  padding: 0 0.2em;
  margin: 0.3rem -0.15em 0;
  text-decoration: underline;
}

.Poster-link:hover,
.Poster-link:focus {

}

.Poster-link::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

@media (min-width: 400px) and (min-height: 400px) {
  .Poster {
    --Poster-space: 2rem;
  }
}

@media (min-height: 500px) {
  .Poster-label {
    display: block;
  }
}

@media (min-width: 500px) and (min-height: 500px) {
  .Poster {
    --Poster-space: 2rem; 
  }

  .Poster-link {
    margin-top: 1rem;
  }
}

@media (min-width: 900px) and (min-height: 700px) {
  .Poster {
    --Poster-space: 2.5rem; 
  }
}


@media (min-width: 1500px) and (min-height: 900px) {
  .Poster {
    --Poster-space: 3rem; 
  }
} 

/**
 * Themes
 */

.Poster--gg {
 background: #005190;
}

.Poster--gg .Poster-bg {
  width: 110%;
}

.Poster--lmn {
  background: #ce8c57;
}

.Poster--unfluencer {
  background: #ffed00;
}

.Poster--planet15 {
  background: #276ab5;
}

.Poster--goalkeepers {
  background-color: #004661;
  background-image: linear-gradient(to bottom, #001d3a, #004661);
}